.banner-interno__fondo
  background-image: url('../assets/curso/portada/banner-interno.png') !important
  background-size: 100%
  background-repeat: no-repeat
  background-position: center
.tabla-a thead
  border-top: 0px
.bg-primario-claro th
  background-color: #c4d1ff
.tabla-editada
  table
    border-collapse: collapse
    border-spacing: 0
    width: 100%
    border: 1px solid #ddd
    th, td 
      
      text-align: left
      padding: 8px
      border-left: 1px  solid #e9f1f9 !important
      border-top: 0px !important
      border-bottom: 0px !important
      width: 100%  !important


    tr:nth-child(even)
      background-color: #f6f6f6
.tabla-editada2
  table
    border-collapse: collapse
    border-spacing: 0
    width: 100%
    border: 1px solid #ddd
    border: transparent
    th, td 
      
      text-align: left
      padding: 8px
      border: transparent !important
      width: 100%  !important


    tr:nth-child(even)
      background-color: #ffdfe0
.tabla-editada3
  table
    border-collapse: collapse
    border-spacing: 0
    width: 100%
    border: 1px solid #ddd
    border: transparent
    th, td 
      
      text-align: left
      padding: 8px
      border: transparent !important
      width: 100%  !important


    tr:nth-child(even)
      background-color: #c4d1ff
.tarjeta-icon
  position: relative 
  img
    position: absolute
    bottom: 0
    left: 0
    transform: translateX(10%)
    @media (max-width: $bp-min-lg)
      position: relative
      margin: 0 auto
.bg
  &--1-claro
    background-color: #e1e8ff
  &--2-claro
    background-color: #acade1
  &--3-claro
    background-color: #ffdfe0
  &--4-claro
    background-color: #fff7da
.border-0
  th, tr, td
    border: 0px
.tarjeta-apple
  position: relative
  &__img
    position: absolute
    top: 0
    left: 0
    transform: translate(-50%, 10%)
    img
      width: 70px
.acordion__accion__btn--a i
  color: $color-acento-contenido